<strong>Olá, {{ aluno }}</strong>
<p>Confira os dados da sua matrícula: </p>
<p>
  <strong>Plano: </strong>{{ plano }}
  <br/>
  <strong>Data de término: </strong>{{ termino }}
  <br/>
  <strong>Valor: </strong>R$ {{ valor }}
</p>
